#bodyclasses {
    margin-top: 65px;
}

.jabiztownmenu {
    font-family: "Luckiest Guy",cursive;
    font-size: 17px;
    text-align: center;
}


#jalogout a{
    font-family: "Luckiest Guy",cursive;
    font-size: 17px;
    color:#000;
}

#jalogout a:hover{
    text-decoration: none !important;
    color:#73AA4E !important;
}



#edit-body-und-0-value {
    width: 735px;
}

#edit-name, #edit-pass {
    width: 325px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
}

/*
    side bar styles
*/

#left-sidebar-image-uploader {
    border-style: solid;
    padding: 10px;
    background-color:#4097B5;
    border-color: #4097B5;    
}

#right-sidebar-image-uploader {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #4097B5;
}

#bottom-image-uploader {
    min-height: 20px;
    background-color:#4097B5;
    border-color: #4097B5;
    border-radius: 0px 0px 15px 15px !important;
}


#left-sidebar-print-ad-creator {
    border-style: solid;
    padding: 10px;
    background-color: #73AA4E;
    border-color: #73AA4E;    
}

#right-sidebar-print-ad-creator {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #73AA4E;    
}

#bottom-print-ad-creator {
    min-height: 20px;
    background-color:#73AA4E;
    border-color: #73AA4E;
    border-radius: 0px 0px 15px 15px !important;
}





#left-sidebar-story-factory {
    border-style: solid;
    padding: 10px;
    background-color:#DB626C;
    border-color: #DB626C;    
}

#right-sidebar-story-factory {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #DB626C;    
}

#bottom-story-factory {
    min-height: 20px;
    background-color:#DB626C;
    border-color: #DB626C;
    border-radius: 0px 0px 15px 15px !important;
}



#left-sidebar-file-manager {
    border-style: solid !important;
    padding: 10px;
    background-color:#FFD200 !important;
    border-color: #FFD200 !important;
    min-height: 220px;
}

#right-sidebar-file-manager {
    border-style: solid !important;
    padding:10px 0px 10px 10px;
    background-color:#FFFFFF !important;
    border-color: #FFD200 !important;
    min-height: 220px;
}

#bottom-file-manager {
    min-height: 20px !important;
    background-color:#FFD200 !important;
    border-color: #FFD200 !important;
    border-radius: 0px 0px 15px 15px !important;
}
/*
    /side bar styles
*/

/*
    nav bar styles
*/

.navbar {
    margin-bottom: 0px !important;
    border-radius: 15px 15px 0px 0px !important;

}

.navbar-inverse {
    background-color: #73AA4E !important;
    border-color: #73AA4E !important;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFFFFF !important;
}

.navbar-inverse .navbar-nav > li > a:hover {
    color: #000000 !important;
    text-decoration: underline !important;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF !important;
    background-color: #2B401D !important;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #73AA4E !important;
}

/*
    /nav bar styles
*/

.panel-default {
    border-color: #FFD200 !important;
}

.panel-group {
    margin-bottom: 20px;
    margin-right: 20px !important;
}

.panel-default > .panel-heading {
    color: #333;
    background-color: #FFFAE5 !important;
    border-color: #DDD;
}


ul.rig {
    list-style: none;
    font-size: 0px;
    margin-left: -2.5%; /* should match li left margin */
}
ul.rig li {
    display: inline-block;
    padding: 10px;
    margin: 0 0 2.5% 2.5%;
    background: #fff;
    border: 1px solid #ddd;
    font-size: 16px;
    font-size: 1rem;
    vertical-align: top;
    box-shadow: 0 0 5px #ddd;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
ul.rig li img {
    max-width: 100%;
    height: auto;
    margin: 0 0 10px;
}
ul.rig li h3 {
    margin: 0 0 5px;
}
ul.rig li p {
    font-size: .9em;
    line-height: 1.5em;
    color: #999;
}
/* class for 2 columns */
ul.rig.columns-2 li {
    width: 47.5%; /* this value + 2.5 should = 50% */
}
/* class for 3 columns */
ul.rig.columns-3 li {
    width: 30.83%; /* this value + 2.5 should = 33% */
}
/* class for 4 columns */
ul.rig.columns-4 li {
    width: 22.5%; /* this value + 2.5 should = 25% */
}

@media (max-width: 480px) {
    ul.grid-nav li {
        display: block;
        margin: 0 0 5px;
    }
    ul.grid-nav li a {
        display: block;
    }
    ul.rig {
        margin-left: 0;
    }
    ul.rig li {
        width: 100% !important; /* over-ride all li styles */
        margin: 0 0 20px;
    }
}