#bodyclasses {
    margin-top: 60px;
}

/*
    side bar styles
*/

#left-sidebar-image-uploader {
    border-style: solid;
    padding: 10px;
    background-color:#4097B5;
    border-color: #4097B5;    
}

#right-sidebar-image-uploader {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #4097B5;
}

#bottom-image-uploader {
    min-height: 20px;
    background-color:#4097B5;
    border-color: #4097B5;
    border-radius: 0px 0px 15px 15px !important;
}


#left-sidebar-print-ad-creator {
    border-style: solid;
    padding: 10px;
    background-color: #73AA4E;
    border-color: #73AA4E;    
}

#right-sidebar-print-ad-creator {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #73AA4E;    
}

#bottom-print-ad-creator {
    min-height: 20px;
    background-color:#73AA4E;
    border-color: #73AA4E;
    border-radius: 0px 0px 15px 15px !important;
}





#left-sidebar-story-factory {
    border-style: solid;
    padding: 10px;
    background-color:#DB626C;
    border-color: #DB626C;    
}

#right-sidebar-story-factory {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #DB626C;    
}

#bottom-story-factory {
    min-height: 20px;
    background-color:#DB626C;
    border-color: #DB626C;
    border-radius: 0px 0px 15px 15px !important;
}



#left-sidebar-file-manager {
    border-style: solid;
    padding: 10px;
    background-color:#FFD200;
    border-color: #FFD200;    
}

#right-sidebar-file-manager {
    border-style: solid;
    padding: 10px;
    background-color:#FFFFFF;
    border-color: #FFD200;    
}

#bottom-file-manager {
    min-height: 20px;
    background-color:#FFD200;
    border-color: #FFD200;
    border-radius: 0px 0px 15px 15px !important;
}
/*
    /side bar styles
*/

/*
    nav bar styles
*/

.navbar {
    margin-bottom: 0px !important;
    border-radius: 15px 15px 0px 0px !important;

}

.navbar-inverse {
    background-color: #73AA4E;
    border-color: #73AA4E;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000000;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #2B401D;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #73AA4E;
}

/*
    /nav bar styles
*/


